*,*::before,*::after{
    padding:0;
    margin:0;
    box-sizing: border-box
}
body{
    overflow: hidden;
    font-size: 16px;
    background-color: black;
}

.no-select{
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}
.game{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.score-box{
    color: white;
    position:fixed;
    background-color: rgba(199, 199, 199, 0.749);
    width:15rem;
    padding:0.8rem 1rem;
    margin-top: 2rem;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
   
}
#score{
    font-weight: 600;
}

.restart-modal{
    font-family: inherit;
    position: fixed;
    background-color: white;
    align-self: center;
    border-radius: 15px;
    max-width: 500px;
    width: 80vw;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    
}

.restart-modal .score{
    /* background-color: red; */
    padding: 10px;
    margin-bottom: 3rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3rem;

}

.restart-modal .score h2{
    margin-bottom: 0.6rem;
    font-size: 2.5rem;
}
.restart-modal button {
    background-color: rgb(0, 90, 234);
    padding: 1rem 3rem;
    cursor: pointer;
    outline: none;
    font-size: 1.2rem;
    color: white;
    border-radius: 15px;
    border: none;
    transition:background-color 100ms ease-in,transform 100ms ease-in-out ;
    width: 15rem;


}
.hide{
    display: none;
}
.restart-modal button:hover{
    transform: scale(0.97);
    background-color: rgb(37, 108, 223);

}